@font-face {
  font-family: 'Rick&Morty-font';
  src: url('./static/fonts/get-schwifty.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: 'Rick&Morty-font';
  font-size: -webkit-xxx-large;
}
